@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Montserrat&display=swap');

/* General Styling */

body {
  
}

header h1 {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 48px;
  color: #A5D3F0;
}

p, button, legend, label  {
  font-family: 'Montserrat', sans-serif;
}

fieldset {
  padding: 20px;
}

/* Mobile First */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

