header h1 {
  text-align: center;
}

.center-container {
  display: flex;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;    
  border: 1px solid black;
  padding: 15px;
}

.container button {
  width: max-content;
}

main p {
  text-align: center;
}

main form {
  width: max-content;
  margin: 0 auto;
}